*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  display: flex;
  font-family: Raleway, sans-serif;
  background-color: #fec7ee;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(255 255 255 / 0.3);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
}

.title {
  z-index: 1;
  max-width: 720px;
  margin: 0 auto;
  font-size: 116px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  text-align: center;
}

.title::after {
  content: '*';
  position: relative;
}

.title:hover {
  color: #4c4c4c;
  cursor: default;
}

.title:hover::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  white-space: pre;
  border: 2px solid #000;
  background-color: #fff;
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0;
  position: absolute;
  top: 180px;
  right: 20px;
  max-width: 720px;
  border-radius: 20px;
  padding: 36px 44px;
  box-shadow: 0 12px 0 #000;
  color: #000;
  text-align: left;
  text-transform: initial;
}
